.music-player {
  color: black;
  /* font-family: Arial, sans-serif; */
  overflow: hidden;
}

.playlist {
  max-height: 200px;
  /* max-height: 40rem; */
  /* overflow-y: auto; */
  overflow-y: hidden;
  padding: 1rem;
}

.playlist-item {
  padding: 0.5rem;
  cursor:
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'),
    auto;
  transition: background 0.2s;
  border-radius: 0.5rem;
}

.playlist-item:hover {
  font-weight: bold;
  /* background: #3d3d3d; */
}

.playlist-item.active {
  /* background: #4a4a4a; */

  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  font-weight: bold;
  color: var(--color-blue);
}

.controls {
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.control-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

/* .control-buttons :nth-child(2) {
  background-color: red;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
} */

.control-button {
  background: none;
  border: none;
  color: black;
  /* color: white; */
  cursor:
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'),
    auto;
  font-size: 20px;
  padding: 5px;
  /* background-color: red; */
  height: 2rem;
  width: 2rem;
}

.control-button:hover {
  /* color: #1db954; */
  color: var(--color-blue);
}

.progress-container {
  width: 100%;
  height: 5px;
  background: #b3b3b3;
  border-radius: 3px;
  cursor:
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'),
    auto;
}

.progress-bar {
  height: 100%;
  background: var(--color-blue);
  border-radius: 3px;
  width: 0%;
}

.time-display {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: var(--color-light-grey);
}
